#canvas {
  background-color: black;
}
.drawer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.row-button button {
  font-weight: bold;
}

@media screen and (max-width: 506px) {
  #canvas {
    width: 100%;
  }
}
