.canvas_component {
  grid-row: 2/10;
  display: grid;
  grid-template-rows: repeat(12, 8.33%);
}

.row-canvas {
  background-color: black;
}

.row-button {
  grid-row: 8;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}
.row-button button {
  font-weight: bold;
}
