.button {
  font-size: 16px;
  border-radius: 20px;
  font-weight: bold;
  padding: 4px 20px 4px 20px;
  margin: 20px 0 0 0;
  background-color: #fae3e3;
  outline: none;
  -webkit-appearance: none;
}
.text {
  /* font-size: 16px; */
  border-radius: 10px;
  font-weight: bold;
}
.slider {
  margin: 0px 50px 0 50px;
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 100px;
  background: #fae3e3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
